.table {
  width: 100%;
  border-spacing: 0;
  font-size: 25px;
  color: #ddd;
  background: linear-gradient(to left, #2393f5, #144bde);
  border-radius: 15px;
  box-shadow: 0 0 10px #2393f5;
  margin-top: 20px;
}
